## MAC OS X
# OS/Finder files
.DS_Store
Desktop.ini
.Spotlight-V100
.Trashes

# Thumbnail cache
._*
Thumbs.db


## SUBLIME TEXT
# cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
# *.sublime-project

# sftp configuration file
sftp-config.json
