## MAC OS X
# OS/Finder specific
.DS_Store
Desktop.ini
.Spotlight-V100
.Trashes

# Thumbnail cache
._*
Thumbs.db


## SUBLIME TEXT
# cache
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace
*.sublime-workspace

# sftp configuration
sftp-config.json
